
<div class="modal fade" id="ConfirmDelivered" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="bottomModalLabel">Confirm Delivered</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to mark  this record as deleivered?</p>

                <div id="loaderDDiv" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>

                <div style="text-align:center;display:none" id="successDDiv" class="alert alert-success">
                    <p id="message" name="message">Delivered marked successfully</p>
                </div>

                <div style="text-align:left;display:none" id="errorDDiv" class="alert alert-danger">
                    <p id="errDMessage" name="errDMessage">Error</p>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" disabled="disabled" id="bDel" onclick="DeliveredRecord()">Confirm</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->


</div>

<input type="hidden" id="hiddenId" />
<input type="hidden" id="jsonURL" />

<script>

    var ConfirmDelivered = function (Id, jsonURL) {
        $("#hiddenId").val(Id);
        $("#jsonURL").val(jsonURL);

        $("#loaderDDiv").hide();
        $("#errorDDiv").hide();
        $("#successDDiv").hide();
        $("#bDel").removeAttr("disabled");
        $("#ConfirmDelivered").modal('show');
    }

    var DeliveredRecord = function () {
        $("#bDel").attr("disabled", true);
        $("#loaderDDiv").show();

        var Id = $("#hiddenId").val();

        setTimeout(function () {
            $.ajax({

                type: "POST",
                url: $("#jsonURL").val(),
                data: { id: Id },
                success: function (result) {
                    if (result != null && result.success) {

                        $("#loaderDDiv").hide();
                        $("#successDDiv").show();

                        setTimeout(function () {

                            $("#ConfirmDelivered").modal("hide");
                            $("#row_" + Id).addClass("danger");
                            $("#row_" + Id).fadeOut(1000, "swing");

                            try {
                                $("#row_summary").fadeOut(1000, "swing");
                            }
                            catch (err) { }


                            //$("#row_" + Id).remove();
                        }, 1000);
                        location.reload(); // refresh the page
                    } else {
                        ReportError(result.responseText);
                    }

                },
                error: function (result) {
                    ReportError(result.responseText);
                }
            })
        }, 500);
       

    }

    var ReportError = function (errDMessage) {
        $("#loaderDDiv").hide();
        $("#successDDiv").hide();
        $("#bDel").attr("disabled", true);
        $("#errDMessage").html(errDMessage);
        $("#errorDDiv").show();
    }
</script>